arelle/resources/cache/http/www.xbrl.org/2008/inlineXBRL/xhtml/xhtml-iframe-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="qualified"
 xmlns:xh11d="http://www.w3.org/1999/xhtml/datatypes/"
>
    <xs:import namespace="http://www.w3.org/1999/xhtml/datatypes/" 
               schemaLocation="xhtml-datatypes-1.xsd" />
  <xs:annotation>
    <xs:documentation>
      This is the XML Schema Inline Frame Element module for XHTML
      $Id: xhtml-iframe-1.xsd,v 1.2 2005/09/26 22:54:53 ahby Exp $
    </xs:documentation>
    <xs:documentation source="xhtml-copyright-1.xsd"/>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      Inline Frames 
      
        * iframe
    
      This module declares the iframe element type and its attributes,
      used to create an inline frame within a document. 
    </xs:documentation>
    <xs:documentation 
         source="http://www.w3.org/TR/2001/REC-xhtml-modularization-20010410/abstract_modules.html#s_iframemodule"/>
  </xs:annotation>

  <xs:attributeGroup name="xhtml.iframe.attlist">
    <xs:attributeGroup ref="xhtml.Core.attrib"/>
    <xs:attribute name="longdesc" type="xh11d:URI"/>
    <xs:attribute name="src" type="xh11d:URI"/>
    <xs:attribute name="frameborder" default="1">
      <xs:simpleType>
        <xs:restriction base="xs:nonNegativeInteger">
          <xs:enumeration value="1"/>
          <xs:enumeration value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="marginwidth" type="xh11d:Pixels"/>
    <xs:attribute name="marginheight" type="xh11d:Pixels"/>
    <xs:attribute name="scrolling" default="auto">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="yes"/>
          <xs:enumeration value="no"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="height" type="xh11d:Length"/>
    <xs:attribute name="width" type="xh11d:Length"/>
  </xs:attributeGroup>

  <xs:group name="xhtml.iframe.content">
     <xs:sequence>
        <xs:group ref="xhtml.Flow.mix" minOccurs="0" maxOccurs="unbounded"/>
     </xs:sequence>
  </xs:group>  
  
  <xs:complexType name="xhtml.iframe.type" mixed="true">
    <xs:group ref="xhtml.iframe.content"/>
    <xs:attributeGroup ref="xhtml.iframe.attlist"/>
  </xs:complexType>

</xs:schema>
