tests/conformance/XDT-CONF-CR4-2009-10-06/xdt.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- XBRL Dimensional Taxonomies 1.0 Tests -->
<!-- Copyright 2006 XBRL International.  All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="testcase">
		<xs:complexType>
			<xs:attribute name="uri" use="required" type="xs:anyURI"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="testcases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="testcase" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="date" use="required" type="xs:date"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
